//BEGIN footer
.container-fluid.block__foot
    .container.wrap__foot 
        footer.footer
            .bc__footer 
            .footer__menu 
                .footer__list 
                    .col__1 
                        a.foot__link(href="#") О компании
                        a.foot__link(href="#") Наши услуги
                        a.foot__link1(href="#") Преимущества
                        a.foot__link768(href="#") Проекты
                        
                    .col__2
                        a.foot__link(href="#") Партнеры
                        a.foot__link1(href="#") Проекты
                        a.foot__link768(href="#") Преимущества
                        a.foot__link(href="#") Контакты
        .copirate 
            p © Velescompany 2017-2021

//END footer