//BEGIN footer
.container-fluid.block__foot
    .container.wrap__foot 
        footer.footer
            .bc__footer 
            .footer__menu 
                .footer__list 
                    .col__1 
                        a.foot__link(href="#yakor__0") О компании
                        a.foot__link(href="#yakor__1") Наши услуги
                        a.foot__link1(href="#yakor__2") Преимущества
                        a.foot__link768(href="#yakor__4") Проекты
                        
                    .col__2
                        a.foot__link(href="#yakor__3") Партнеры
                        a.foot__link1(href="#yakor__4") Проекты
                        a.foot__link768(href="#yakor__2") Преимущества
                        a.foot__link(href="#yakor__5") Контакты
        .copirate 
            p © Velescompany 2017-2021

//END footer