//BEGIN header
.container 
    header.header
        .logo__header
            img(src="img/Logo_header.png", alt="Logo")
            hr 
            p Успешный участник <br> строительной индустрии!
        .contact__header
            .callOur 
                span.phone +7 905 734-28-42
                    span.img1
                        img(src="img/phone1.svg", alt="phone")
                a(href="mailto:skveles1@mail.ru").mail skveles1@mail.ru
                    span.img2
                        img(src="img/email1.svg", alt="mail")
            
            input(type="button", value="ЗАКАЗАТЬ ЗВОНОК").btn__header 
    

        
//END header
