.block5
    display: flex
    justify-content: flex-end
    align-items: center
    height: 1090px
    background-color: #393F44
    padding: 0
    +r(1500)
        height: 950px
        +r(1290)   
            height: 910px
            +r(768)
                height: 680px
                +r(560)
                    height: 520px
                    +r(480)
                        height: 440px
    .image-slider
        height: 940px
        width: 90%
        max-width: 1660px
        margin: 0
        +r(1500)
            height: 840px
            +r(1290)
                height: 760px
                +r(1065)
                    height: 660px
                    +r(768)
                        height: 560px
                        +r(560)
                            height: 460px
                            +r(480)
                                height: 370px

        h3
            font-family: 'montbold', Arial, Helvetica, sans-serif
            font-size: 44px
            line-height: 66px
            letter-spacing: 0.2px
            color: #fff
            margin-bottom: 40px
            +r(1195)
                font-size: 40px
                +r(1065)
                    font-size: 36px
                +r(768)
                    font-size: 30px
                    margin-bottom: 20px
                    text-align: center
                    +r(680)
                        font-size: 26px
                        +r(560)
                            line-height: 40px
                            font-size: 18px

    // стили для картинкок в слайде
    .img__line1, .img__line2
        display: flex
        justify-content: flex-end
        height: 90%
        max-height: 360px
        width: 100%
        overflow: hidden
        +r(1500)
            height: 320px
            +r(1290)
                height: 280px
                +r(1065)
                    height: 240px
                    +r(769)
                        height: 200px
                        +r(560)
                            height: 165px
                            +r(480)
                                height: 140px


        & img
            width: 30%
            max-width: 450px
            overflow: auto
            object-fit: cover
            object-position: center
            +r(975)
                width: 100%
                +r(768)
                    width: 80%
                    +r(680)
                        width: 50%
        & img:last-child
            width: 320px
            +r(680)
                display: none
        +r(680)
            img:nth-child(3)
                width: 150px
                object-position: left        
            
                

    .img__line2
        +r(480)
            height: 120px
        & img
            object-fit: cover
            object-position: center
            width: 30%
            max-width: 450px
            overflow: auto
            +r(975)
                width: 100%
                +r(768)
                    width: 80%
                    +r(680)
                        width: 50%


        & img:last-child
            width: 320px
            +r(680)
                display: none
        +r(680)
            img:nth-child(3)
                width: 150px
                object-position: left

    //стрелочки
.swiper-button-next, .swiper-button-prev
    top: 92%
    margin-top: 0
    background-size: 42px 47px
    width: 42px
    height: 47px
    +r(1065)
        top: 93%
        background-size: 36px 38px
        width: 36px
        height: 38px
        +r(768)
            top: 94%
            background-size: 37px 33px
            width: 37px
            height: 33px
            +r(560)
                top: 90%
                background-size: 26px 23px
                width: 26px
                height: 23px
.swiper-button-next:after, .swiper-button-prev:after
    content: ''
.swiper-button-prev
    background-image: url('../icons/arrowL_24px.svg')
.swiper-button-next
    background-image: url('../icons/arrowR_24px.svg')



.swiper-button-next
    right: 0
    left: 350px
    +r(1065)
        left: 320px
        +r(768)
            left: 90%
        +r(480)
            left: 200px

    // пагинация
.swiper-container-horizontal .swiper-pagination-bullets
    bottom: 32px !important
    text-align: left !important
    left: 200px !important
    +r(1500)
        bottom: 25px!important
        +r(1290)
            bottom: 20px !important
            +r(1065)
                bottom: 10px !important
                +r(768)
                    bottom: 0px!important
                    left: 50% !important
                    +r(560)
                        bottom: 15px!important
                
.swiper-pagination-bullet
    margin: 0 !important
    left: 0px !important
    width: 39px
    height: 37px
    font-size: 16px
    line-height: 20px
    background-color: transparent
    border: 3px solid #FFFFFF
    opacity: 1
    border-radius: none 
    border-radius: 0
    transition: 0.8s !important
    +r(1065)
        width: 35px
        height: 35px
        font-size: 14px
        line-height: 17px
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet 
    transform: scale(.63)
    +r(560)
        transform: scale(.37)

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active, 
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main
    transform: scale(1)
    background-color: #FFA800
    border: none
    +r(560)
        transform: scale(0.6)
    


