.container-fluid.block4
    .container.wrap__block4
        h3 Наши партнеры
        .row.wrap__partners
            //- первая линия
            .col-sm-3.col-6.p-0
                .wrap__partner1
                    img(src="img/partners/1.png", alt="foto1")
            .col-sm-3.col-6.p-0
                .wrap__partner2
                    img(src="img/partners/2.png", alt="foto2")
            .col-sm-3.col-6.p-0
                .wrap__partner3
                    img(src="img/partners/3.png", alt="foto3")
            .col-sm-3.col-6.p-0
                .wrap__partner4
                    img(src="img/partners/4.png", alt="foto4")

            //- вторая линия
            .col-sm-3.col-6.p-0
                .wrap__partner5
                    img(src="img/partners/5.png", alt="foto5")
            .col-sm-3.col-6.p-0
                .wrap__partner6
                    img(src="img/partners/6.png", alt="foto6")
            .col-sm-3.col-6.p-0
                .wrap__partner7
                    img(src="img/partners/7.png", alt="foto7")
            .col-sm-3.col-6.p-0
                .wrap__partner8
                    img(src="img/partners/8.png", alt="foto8")



