.container-fluid.block3#yakor__2
    .container.wrap__block3
        h3 ПОЧЕМУ ВЫБИРАЮТ НАС?
        .wrap__skils
            .skil__1
                img(src="img/icon/block3.svg", alt="foto1")
                h3 НАДЕЖНОСТЬ
                p Высокая производительность, постоянный контроль качества, профессиональные специалисты, позволяют обеспечивать на 100% безопасное выполнение, даже самых сложных заказов.
            .skil__2 
                img(src="img/icon/block3(1).svg", alt="foto2")
                h3 ПРОФЕССИОНАЛИЗМ
                p Компания самостоятельно выполняет все этапы строительства, выступая при этом генеральным исполнителем и главным связующим звеном между субподрядчиком и заказчиком строительных работ.
            .skil__3 
                img(src="img/icon/block3(2).svg", alt="foto2")
                h3 ПОРЯДОЧНОСТЬ
                p За годы работы компания выполнила десятки проектов по возведению офисных зданий, многоэтажных жилых домов, а также объектов различного назначения.

            
