.container-fluid.block2 
    .container.wrap__block2
        .line1 
            img(src="../img/block2.jpg", alt="foto1")
            .aboutCompany 
                h2 О КОМПАНИИ
                p Компания <b>«СК Велес»</b> — профессиональный, надёжный и порядочный Партнёр в строительном бизнесе.
        .line2 
            .endAbout
                p Строительная компания <b>«СК Велес»</b> со дня основания соблюдает все необходимые требования и качественно организовывает свою деятельность. <span>Компания успешно развивается и совершенствуется в ногу со временем. </span>
            img(src="../img/block2(2).jpg", alt="foto2")