
.container-fluid.block5#yakor__4
    .image-slider.swiper-container 
        h3 НАШИ ПРОЕКТЫ
        .image-slider__wrapper.swiper-wrapper 
            //- слайд 1
            .image-slider__slide.swiper-slide 
                .image-slider__image
                    .img__line1
                        img(src="img/slider1/slid-foto1.png", alt="foto1")
                        img(src="img/slider1/slid-foto2.png", alt="foto2")
                        img(src="img/slider1/slid-foto3.png", alt="foto3")
                        img(src="img/slider1/slid-foto4.png", alt="foto4")


                    .img__line2
                        img(src="img/slider1/slid-foto5.png", alt="foto5")
                        img(src="img/slider1/slid-foto6.png", alt="foto6")
                        img(src="img/slider1/slid-foto7.png", alt="foto7")
                        img(src="img/slider1/slid-foto8.png", alt="foto8")
                
            //- слайд 2
            .image-slider__slide.swiper-slide 
                .image-slider__image
                    .img__line1
                        img(src="img/slider2/slid-fot1.png", alt="fot1")
                        img(src="img/slider2/slid-fot2.png", alt="fot2")
                        img(src="img/slider2/slid-fot3.png", alt="fot3")
                        img(src="img/slider2/slid-fot4.png", alt="fot4")


                    .img__line2
                        img(src="img/slider2/slid-fot5.png", alt="fot5")
                        img(src="img/slider2/slid-fot6.png", alt="fot6")
                        img(src="img/slider2/slid-fot7.png", alt="fot7")
                        img(src="img/slider2/slid-fot8.png", alt="fot8")


            //- слайд 3
            .image-slider__slide.swiper-slide 
                .image-slider__image
                    .img__line1
                        img(src="img/slider3/slid-f1.png", alt="f1")
                        img(src="img/slider3/slid-f2.png", alt="f2")
                        img(src="img/slider3/slid-f3.png", alt="f3")
                        img(src="img/slider3/slid-f4.png", alt="f4")


                    .img__line2
                        img(src="img/slider3/slid-f5.png", alt="f5")
                        img(src="img/slider3/slid-f6.png", alt="f6")
                        img(src="img/slider3/slid-f7.png", alt="f7")
                        img(src="img/slider3/slid-f8.png", alt="f8")


            //- слайд 4
            .image-slider__slide.swiper-slide 
                .image-slider__image
                    .img__line1
                        img(src="img/slider1/slid-foto1.png", alt="foto1")
                        img(src="img/slider1/slid-foto2.png", alt="foto2")
                        img(src="img/slider1/slid-foto3.png", alt="foto3")
                        img(src="img/slider1/slid-foto4.png", alt="foto4")


                    .img__line2
                        img(src="img/slider1/slid-foto5.png", alt="foto5")
                        img(src="img/slider1/slid-foto6.png", alt="foto6")
                        img(src="img/slider1/slid-foto7.png", alt="foto7")
                        img(src="img/slider1/slid-foto8.png", alt="foto8")


            //- слайд 5
            .image-slider__slide.swiper-slide 
                .image-slider__image
                    .img__line1
                        img(src="img/slider2/slid-fot1.png", alt="fot1")
                        img(src="img/slider2/slid-fot2.png", alt="fot2")
                        img(src="img/slider2/slid-fot3.png", alt="fot3")
                        img(src="img/slider2/slid-fot4.png", alt="fot4")


                    .img__line2
                        img(src="img/slider2/slid-fot5.png", alt="fot5")
                        img(src="img/slider2/slid-fot6.png", alt="fot6")
                        img(src="img/slider2/slid-fot7.png", alt="fot7")
                        img(src="img/slider2/slid-fot8.png", alt="fot8")

        //- пагинация 
        .swiper-pagination

        //- стелочки слайдера
        .swiper-button-prev
        .swiper-button-next

            

            