.container-fluid.wrap__block1.p-0
    .container.block1
        //- первая линия
        .row.wrap__line1
            .col-sm-4.col-6.p-0.fix
                .wrap__service1
                    .wrap__text
                        .text__h2 
                            h2 НАШИ УСЛУГИ
            .col-sm-4.col-6.p-0
                .wrap__service2
                    .text__s2
                        p Строительство
            .col-sm-4.col-6.p-0
                .wrap__service3
                    .text__s3
                        p Реконструкция                 
            //- вторая линия
            .col-sm-4.col-6.p-0
                .wrap__service4
                    .text__s4
                        p Благоустройство территории 
            .col-sm-4.col-6.p-0
                .wrap__service5
                    .text__s5
                        p Проектирование
            .col-sm-4.col-6.p-0
                .wrap__service6
                    .text__s6
                        p Дорожное строительство



