.header-wrap
    .container-fluid.wrap.p-0 
        .header__body 
            //- burger
            .header__burger 
                span 
            //- menu
            .container.head__container
                nav.header__menu 
                    ul.header__list 
                        li 
                            a.header__link(href="#") О компании
                        li 
                            a.header__link(href="#") Наши услуги
                        li 
                            a.header__link(href="#") Преимущества
                        li 
                            a.header__link(href="#") Партнеры
                        li 
                            a.header__link(href="#") Проекты
                        li 
                            a.header__link(href="#") Контакты
                        //- (768)
                        li.callOur__nav 
                            span.phone__nav +7 905 734-28-42
                                span.img1
                                    img(src="img/phone1.svg", alt="phone")
                            a(href="#").mail__nav skveles1@mail.ru
                                span.img2
                                    img(src="img/email1.svg", alt="mail")

            //- button (768) 
            input(type="button", value="ЗАКАЗАТЬ ЗВОНОК").btn__menu  

//- text with BC

.container-fluid.wrap__headText 
    .text__h1 
        h1 Строительная компания «СК Велес» 
    .btn__call
        input(type="button", value="ОСТАВИТЬ ЗАЯВКУ")
        span 
    
        